p {
    color: blueviolet;
}

h1 {
    color: violet;
}

h2 {
    color: chocolate;
}



form {
    /*Centramos el formulario en la parte de centro*/
    margin: 0 auto;
    width: 400px;
    /*Esquema de Formulario*/
    padding: 1em;/*separación*//*1em=16px*/
    border: 1px solid #ccc;
    border-radius: 2em;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none; /*quitar viñetas*/
}
form li{
    margin-top: 1em;/*separacion entre listas*/
}

label{
    display: inline-block;/*alineacion uniforme*/
    width: 90px;
    color: red;
    text-align: right;
}

input:focus, textarea:focus{
    border-color: rgb(24, 84, 197);
}

textarea{
    vertical-align: top;
    height: 90px;
}

button{
    margin-left: 100px;
}


